global
    maxconn 100
defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

#round robin balancing backend http
backend http_back
balance roundrobin
mode http
server back-host1 10.10.5.10:80 check 
server back-host2 10.10.6.10:80 check 
server back-host3 10.10.7.10:80 check 